@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

html {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0 auto;
    background-color: black;
    color: #ffffff;
}

.navbar {
    background-color: #17a3b8;

}

.marca img, p {
    display: inline-block;
}

hr {
    width: 100%;
    height: 1px;
    background-color: #17a3b8;
}

h2 {
    font-size: 1.8rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}


/*iconos*/
span {
    width: 100%;
    height: 35px;
    background-color: #17a3b8;
    text-align: center;
    display: inline-block;
}

span i {
    color: #ffffff;
    font-size: 1.7rem;
}

#original {
    display: block;
}

#cambio {
    display: none;
}

/*DESTINOS*/

.card {
    background-color: #17a3b8;

}

footer {
    background-color: #17a3b8;
}

.redes {
    text-align: right;
}

footer i {
    font-size: 3rem;

}

footer p {
    font-size: 2rem;
    text-transform: uppercase;
}


@media (max-width: 780px) {
    #cambio {
        display: block;
    }

    #original {
        display: none;
    }

    footer i {
        font-size: 2rem;
    }
}

@media (max-width: 500px) {
    footer p {
        text-align: center;

    }
}